body { /*Allgemeine Schrift*/
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 { /*Navbar*/
    font-family: Cambria, serif;
    color: rgb(0, 0, 0);
}

.navbar ul {
    list-style-type: none;
    background-color: rgba(239, 236, 236, 0.756);
    padding: 0;
    margin: 0; /*geht bis zum Rand*/
    text-align: right; /*zentriert ul*/
}

.navbar li {
    display: inline-block; /*li Elemente sind in einer Linie im Text und nicht untereinander*/
}

.navbar a {
    color: rgb(60, 39, 39);
    text-decoration: none; /*entfernt Unterstrich*/
    padding: 10px;
    display: block; /*Verbesserung Navbar Sicht*/
}

.navbar a:hover {
    background-color: hsl(0, 12%, 84%);
}

.banner { /*Hintergrund Banner + Text*/
    padding: 15px;
    background: rgb(57, 57, 57);
    font-size: 20px;
    text-align: center; /*zentriert Text im Banner */
}

.menü {
    width: max-content; /* div verbraucht nur so viel BReite wie ihre Inhalt */
    margin: 0 auto; /* zentriert div waagerecht*/
}

.menü ul {
    padding: 0; /* entfernt normales padding */
    margin: 0; /* entfernt normale margin */
    text-align: center; /* zentriert liste */
}

.menü ul li { /* lässt Elemente inline bleiben und erlaubt margin und padding*/
    display: inline-block;

    padding: 20px;
    margin: 15px;
    text-align: center;
    background-color: #e6e4e4;
}

.menü ul li a { /*Übergang*/
    display: block;
    opacity: 0.75;
    transition: all 0.3s linear;
}

.menü ul li a:hover { /*Bild sichtbarer, wenn Curser drauf ist*/
    opacity: 1.0;
}

.menü ul li a img {
    border: 6px solid #ffffff;
}

.wichtig{ /*Hintergrund beliebte Gerichte*/
    padding: 5px;
    background-color:rgb(57, 57, 57);
    font-size: 18px;
}

h1{ /*Beliebte Gerichte*/
    text-align: center;
}

h3{ /*Reviews*/
    margin: 20px;
    text-align: center;
}

.review { /*Bewertung*/
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}
.review h2 {
    margin-top: 0;
}
.review p { /*Text Review*/
    margin: 5px 0;
}
.rating { /*Farbe Sterne*/
    color: #FFD700;
}

.footer{ /*ganz unten*/
    padding: 10px;
    background: rgb(57, 57, 57);
    font-size: 20px;
    text-align: center; /* Zentriet */
}

/* alles Home HTML Document*/

.flex-container {
    display: flex;
    align-items: center;
}
.Anschrift {
    text-align: center;
}

.Öffnungszeiten {
    flex: 1;
    margin-left: 20px; /* Abstand zwischen Anschrift und Öffnungszeiten */
}

.Öffnungszeiten ul { /*zentriert ungeordnete Liste Mit Überschrift*/
    padding: 0;
}


.Öffnungszeiten ul li {
    display: block;
    list-style: none; /*entfernt Punkte*/
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/*Alles Kontakt*/

 table {
    width: 100%;
    border-collapse: collapse /*Zellränder zu einem Rand*/
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f1eeee;
    font-size: 20px;
}
td {
    font-size: 18px;
}
.beliebt {
    background-color: rgb(192, 176, 176);
}
.Pizza{
    background-color: rgb(188, 188, 188);
}
.Burger {
    background-color: rgb(188, 188, 188);

}
.Fingerfood {
    background-color: rgb(188, 188, 188);

}

.Getränke {
    background-color: rgb(188, 188, 188);

}
