body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Cambria, serif;
    color: rgb(0, 0, 0);
    text-align: left; /* Default alignment for all h1 elements */
}

.navbar ul {
    list-style-type: none;
    background-color: rgba(239, 236, 236, 0.756);
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: right; /* Ensure ul is centered */
}

.navbar li {
    display: inline-block; /* Ensure li elements are inline */
}

.navbar a {
    color: rgb(60, 39, 39);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 12%, 84%);
}

.banner {
    padding: 15px;
    background: rgb(57, 57, 57);
    font-size: 20px;
    text-align: center; /* Center content inside banner */
}

.menü {
    display: block;
    width: max-content; /* Ensures the div only takes up as much width as its content */
    margin: 0 auto; /* Centers the div horizontally */
}

.menü ul {
    list-style: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center list items */
}

.menü ul li {
    display: inline-block; /* Use inline-block to keep li elements inline but allow padding and margins */
    list-style: none;
    padding: 20px;
    margin: 15px;
    text-align: center;
    background-color: #e6e4e4;
}

.menü ul li a {
    display: block;
    opacity: 0.75;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.menü ul li a:hover {
    opacity: 1.0;
}

.menü ul li a img {
    border: 6px solid #ffffff;
}

.wichtig{
    padding: 5px;
    background-color:rgb(57, 57, 57);
    font-size: 18px;
}

h1{
    text-align: center;
}

h3{
    margin: 20px;
    text-align: center;
}

.footer{ /*ganz unten*/
    padding: 10px;
    background: rgb(57, 57, 57);
    font-size: 20px;
    text-align: center; /* Center content inside banner */
}
